#dropbtn-costom-pc .dropbtn {
  background-color: #f4f4f400;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  border: none;
  color: #908989;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

#dropbtn-costom-pc .dropdown {
  position: relative;
  display: block;
  width: 100%;
}

#dropbtn-costom-pc .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

#dropbtn-costom-pc .dropdown-content a {
  color: black;
  padding:7px 0px;
  margin-top: 5px;
  text-decoration: none;
  display: block;
}

#dropbtn-costom-pc .dropdown-content a:hover {background-color: #f1f1f1}

#dropbtn-costom-pc .dropdown:hover .dropdown-content {
  display: block;
}

#dropbtn-costom-pc .dropdown:hover .dropbtn {
  background-color: #f4f4f4;
}

#dropbtn-costom-pc .dropdown-content a:hover {
  background-color: #bbbbbb; 
}