*, 
:after, 
:before {
  will-change all
  box-sizing border-box;
}

.b-gallery-thumb{
  margin :20px;
}
.b-gallery-thumbs{
  /*margin-top :20px;*/
  /*padding :22px 0px 0px 0px;*/
}
.owl-nav{
  position :absolute;
  top :50%;
  left :0;
  right :0;
  margin-top :-15px;
  position :absolute;
  display: none;
}
.owl-prev,
.owl-next{
  top :0;
  position :absolute;
  width :30px;
  height :30px;
  transform :rotate(-45deg);
  border: 3px solid transparent;
}
.owl-prev{
  left: 0;
  border-left :3px solid #aaa;
  border-top :3px solid #aaa;
}
.owl-next{
  border-right: 3px solid #aaa;
  border-bottom :3px solid #aaa;
  right:0;
}